* {
		font-family: Arial, Verdana, sans-serif;
		color: #665544;
		text-align: center;}
	body {
		background-image: url("/dev109/m04/images/retroLines2.jpg");
		background-repeat: no-repeat;
		background-size: 100%, auto;
		width: 90%;
		margin: 0 auto;}
	.bubblegum-sans-regular {
  		font-family: "Bubblegum Sans", sans-serif;
  		font-weight: 400;
  		font-style: normal;
		}
	h1{
		font-family: "Bubblegum Sans", sans-serif;
	}
	#content {
		overflow: auto;}
	#nav, #feature, #footer {
		margin: 1%;}
	.column1, .column2, .column3 {
		width: 31.3%;
		height: 10em;
		float: left;
		margin: 1%;}
	.column3 {
		margin-right: 0%;
		background-color: #c32700;
	}
	.column2{
		background-color: #d67524;
	}
	.column1{
		background-color: #e1b80d;
	}
	li {
		display: inline;
		padding: 0.5em;}
	#nav, #footer {
		background-color: #efefef;
		padding: 0.5em 0;}
	#footer{
		background-color: #c7ae88;
	}
	#feature, .article {
		height: 10em;
		margin-bottom: 1em;
		background-color: #efefef;}
	#feature{
		background-color: #83d6bb;
	}
	#nav{
		background-color: #f4eaac;
	}
	img{
		z:10;
		width:150px;
		height:auto;
	}
