.row{
 position:relative;
 box-sizing: border-box;
 height:12.5%;
 width:100%;
 border:solid blue;
}
.white{
 border: 1px solid black;
 width: 12.5%;
 height: 100%;
 background-color:white;
 box-sizing: border-box;
 float:left;
 border:green dashed;
}
.black{
 border: 1px solid black;
 width: 12.5%;
 height: 100%;
 background-color:#787878;
 box-sizing: border-box; 
 float:left;
}
#footer {
 position:fixed;
 left:0px; 
 right: 0px;
 bottom:0px;
 padding:10px;
 margin:0px;
 background-color: mediumTurquoise;
}
#container {
 margin-top:6%;
 margin-left:12%;
 margin-right:12%;
 margin-bottom:6%;
 box-sizing: border-box;
 height:360px;
 border:red dashed;
}
#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color:mediumTurquoise;
 text-align:center; 
 z-index:10;
 font-family: "Dancing Script", cursive; 
 font-weight: normal; 
 font-style: normal; 
}
#clear{
clear:both; 
}
img {
 margin-left: 5px;
 margin-top:10px;
 }
body {
 background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
 /*padding-top: 50px;*/
}
p {
 text-align:center;
}
