.row{
 position:relative;
 box-sizing: border-box;
 height:12.5%;
 width:100%;
 align-self: stretch;
}
.white{
 border: 1px solid black;
 width: 12.5%;
 height: 100%;
 background-color:white;
 box-sizing: border-box;
 float:left;
}
.black{
 border: 1px solid black;
 width: 12.5%;
 height: 100%;
 background-color:#787878;
 box-sizing: border-box; 
 float:left;
}
#footer {
 position:fixed;
 box-sizing: border-box;
 height:8vh;
 left:0px; 
 right: 0px;
 bottom:0px;
 padding:10px;
 padding-bottom:2vh;
 margin:0px;
 background-color: mediumTurquoise;
}
#container {
 position:fixed;
 top:10vh;
 left:14vw;
 right:14vw;
 bottom:10vh;
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 height:80vh;
 width:72%;
}
#title {
 box-sizing: border-box;
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 height:8vh;
 background-color:mediumTurquoise;
 text-align:center; 
 z-index:10;
 font-family: "Dancing Script", cursive; 
 font-weight: normal; 
 font-style: normal; 
}
#clear{
clear:both; 
}
img {
 margin-left: 5px;
 margin-top:10px;
 }
body {
 background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
 /*padding-top: 50px;*/
}
p {
 position: absolute;
 top: -15px;
 text-align:right;
 right:42vw;
 left:42vw
 width:16vw;
 height:auto;
 
}
