* {
		font-family: "Jadquard 12", serif; 
		color: #181511;
		text-align: center;
}
body {
		background-color: #F0ECDD;
		margin: 0 auto;
	}
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}
