* {
	font-family: "Cactus Classical Serif", serif; 
	color: #181511;
	text-align: center;
}
body {
	background-color: #F0ECDD;
	margin: 0 auto;
	}
#slideshow {
	height: 370pt;
	width: auto;
}
.cactus-classical-serif-regular {
  font-family: "Cactus Classical Serif", serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
	width: 50%;
	text-align: center;
}
#auto {
	float: right;
	border: red;
}
