body {
 background-image: url("/dev109/midterm/images/retroLines2.jpg");
 background-color:#F0D5E3;
background-size: 100%, auto;
 font-family: "Dancing Script", cursive; 
 font-weight: normal; 
 font-style: normal; 
}
.column {
  float: left;
  width: 50%;
  height: 100%;
  overflow-y:scroll;
  overflow-x: hidden;
  position: relative;
}
.validator{
max-width: 80%;
height: auto;
}
