body {
 background-image: url("/dev109/midterm/images/retroLines2.jpg");
background-size: 100%, auto;
}
.column {
  float: left;
  width: 50%;
  height: 100%;
  overflow-y:auto;
  overflow-x: hidden;
  position: relative;
}
.validator{
max-width: 80%;
height: auto;
}
