body {
 background-image: url("/dev109/midterm/images/retroLines2.jpg");
 background-color:#F0D5E3;
 background-size: 100%, auto;
 font-family: "Ubuntu", ubuntu-regular, sans-serif; 
 font-weight: normal; 
 font-style: normal; 
 line-height: 24pt;
 z-index: 1;
}
.column {
  float: left;
  width: 50%;
  height: 100%;
  overflow-y:scroll;
  overflow-x: hidden;
  position: relative;
}
#ghibli{
 width: 40%;
 height:auto;
 float:left;
}
.validator {
max-width: 80%;
height: auto;
}
#menu{
  position: relative;
  left:-10pt;
  background-color:#6F4E37;
  font-family: ubuntu-regular, "Ubuntu", sans-serif; 
  width: 105%;
  font-color: #ffffff;
  padding: 5pt;
  margin-left: 0pt;
  margin-right: 0pt;
 z-index: 1;
}
#filler{
 position: fixed;
 height: 0pt;
}
a {
 color: #ffffff; 
}
div a {
  height: 44pt;
  width: auto;
  text-decoration: none;
  font-color:#ffffff;
  margin-left: 2.5%;
  margin-right:2.5%;
}
div a:link {
  height: 44pt;
  width: auto;
  font-color:#ffffff;
}
div a:visited {
  height: 44pt;
  width: auto;
  font-color:#ffffff;
}
div a:hover {
  font-color:#ffffff;
  text-decoration: underline;
}
.blueLink{
  color: #0000ee;
}
h1{
  font-color:#ffffff;
 /*background-color: #FAECD2;*/
}
.errorMessages{
    font-weight: bold;
    color:red;
    font-size:8pt;
}




.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
